.formArmas {
    margin-top: 6%;
    color: white;
    margin-left: 25%;
    font-size: 115%;
}

.controll {
    width: 70%;
}


.btnBack {
    margin-right: 30%;
}

.formFacas {
    margin-top: 6%;
    color: white;
    margin-left: 25%;
    font-size: 115%;
}

.hab{
    margin-top: 6%;
    color: white;
    margin-left: 25%;
    font-size: 115%;
}