.btnTable{
    margin-left: 30%;
    background-color: brown;
}

.btnTableCart{
    margin-left: 30%;
    background-color: brown;
}

.table{
    margin-left: 5%;
    margin-top: 3%;
    width: 90%;
}
